.main{
  display: grid;
  grid-template-rows: 5em 1fr;
  row-gap: 30px;
  width: 90%;
  margin-top: 20px;
}

.heading h1{
  font-family: poppins;
  font-weight: 500;
  font-size: 4.2em;
}

.paragraph{
  font-size: 0.34em;
  font-family: poppins;
  line-height: 1.8em;
  word-spacing: 1.4em;
}

.section{
  width: 90%;
  margin-top: -195px;
  position: relative;
}

.section h3{
  font-size: 1.3em;
  text-align: start;
  font-weight: 500;
  margin-bottom: 20px;
}

.section ul{
  font-size: 0.7em;
  font-weight: 500;
  text-align: start;
  white-space: nowrap;
  margin-left: 25px;
}

.section ul li{
  margin-bottom: 5px;
}

.footer a{
  text-decoration: none;
}

.footer a:link,
.footer a:visited{
  color: blue
}

.footer{
  font-size: 0.7em;
  font-weight: 500;
  position: absolute;
  right: 20px;
  bottom: 400px;
}